{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "MCPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Une suggestion ?</h2>

  {{ include("MCPlatformBundle:Suggest:form.html.twig") }}

{% endblock %}
