{# src/MC/PlatformBundle/Resources/views/Suggest/index.html.twig #}

{% extends "MCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
  <div id="header" class="jumbotron">
      <h1>Bienvenue dans votre boite à idées !</h1>
      <p>
        Vous ne serez plus jamais à court de trucs à voir, faire ou entendre !
      </p>
    </div>

{% endblock %}
